@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div >
    <h1>
        LunchTrain App
    </h1>
    <p>
        <a class="btn btn-primary" asp-page="Groups/Index">
            Go, manage your groups!
        </a>
    </p>
</div>